<div class="container align-items-center py-5">
  <div class="card">
    <div class="card-body">

      <h2 class="card-title text-center">Mettre à jour le laboratoire</h2>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <%= form_with model: @laboratory, local: true do |f| %>
            <div class="form-group">
              <%= f.label :name, 'Nom du laboratoire' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :address, 'Adresse du laboratoire' %>
              <%= f.text_field :address, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :city, 'Ville du laboratoire' %>
              <%= f.text_field :city, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :email, 'Email du laboratoire' %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :latitude, 'Latitude' %>
              <%= f.text_field :latitude, class: 'form-control', id: 'latitude', readonly: true %>
            </div>

            <div class="form-group">
              <%= f.label :longitude, 'Longitude' %>
              <%= f.text_field :longitude, class: 'form-control', id: 'longitude', readonly: true %>
            </div>

            <div class="form-group text-center">
              <%= f.submit 'Mettre à jour le laboratoire', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
        <div class="col-lg-6 col-md-6">
          <div id="map" style="height: 300px; margin-bottom: 20px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Initialiser la carte
  var map = L.map('map').setView([<%= @laboratory.latitude || 14.692 %>, <%= @laboratory.longitude || -17.446 %>], 13);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var marker = L.marker([<%= @laboratory.latitude || 14.692 %>, <%= @laboratory.longitude || -17.446 %>], {draggable: true}).addTo(map);

  marker.on('dragend', function (e) {
    var position = marker.getLatLng();
    document.getElementById('latitude').value = position.lat;
    document.getElementById('longitude').value = position.lng;
  });

  map.on('click', function(e) {
    var lat = e.latlng.lat;
    var lng = e.latlng.lng;

    marker.setLatLng([lat, lng]);

    document.getElementById('latitude').value = lat;
    document.getElementById('longitude').value = lng;
  });
</script>
