
  <div class="container">
    <h1>Laboratoires disponibles</h1>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <h2>Liste des laboratoires</h2>
        <ul>
          <% @laboratories.each do |laboratory| %>
            <li>
              <%= link_to laboratory.name, patient_exams_path(laboratory_id: laboratory.id) %> -
              <%= laboratory.city %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6 col-lg-6">
        <h2>Carte des laboratoires</h2>
        <div id="map" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
  </div>

  <script>
    // Initialisation de la carte centrée sur Dakar (position par défaut)
    var map = L.map('map').setView([14.692, -17.446], 13); // Dakar (latitude, longitude)

    // Charger les tuiles OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Ajouter des marqueurs pour chaque laboratoire
    <% @laboratories.each do |laboratory| %>
      L.marker([<%= laboratory.latitude %>, <%= laboratory.longitude %>])
        .addTo(map)
        .bindPopup("<b><%= laboratory.name %></b><br /><%= laboratory.city %><br /><a href='<%= patient_exams_path(laboratory_id: laboratory.id) %>'>Voir plus</a>");
    <% end %>
  </script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
